In [2]:
import pandas as pd
import sys
sys.path.append('../scripts/')
from prototypical_fit import Proto

In [2]:
test = pd.read_feather('../data/feather_files/splits/test.feather')

In [3]:
proto = Proto("reddit", k=1000, log_to_file=True)

######################################################################################

In [4]:
proto.predict('../data/feather_files/splits/test.feather',
             '../data/feather_files/REDDIT_proto_CWP_k=900.feather')

*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-
PREDICTING DATA
Reading data
Starting prediction
A test data sample
+-------+--------------------------------------------------------------------------------------------------+
|       | X                                                                                                |
|-------+--------------------------------------------------------------------------------------------------|
| 24810 | rare  tropical depression cristobal  central canada                                              |
| 19723 | official seek  reassure canadian  health care system  ready  deal  surge  coronavirus case  need |
| 21985 | quebec   summer festival  cancel                                                                 |
+-------+--------------------------------------------------------------------------------------------------+
Word Cloud
Test data
Total number of words is 332602
Number of distinct words is 15191
+--------------------+
| Most common 15 words |
+--------------------+
|       reddit       |
+--------------------+
|       canada       |
|      canadian      |
|      trudeau       |
|        news        |
|       would        |
|        make        |
|        like        |
|        want        |
|       people       |
|     government     |
|        year        |
|      ontario       |
|        call        |
|      liberal       |
|        take        |
+--------------------+
\begin{tabular}{c}
reddit \\
canada \\
canadian \\
trudeau \\
news \\
would \\
make \\
like \\
want \\
people \\
government \\
year \\
ontario \\
call \\
liberal \\
take \\
\end{tabular}
Computing validation set predictions
The class prob of a post is the sum of class|word probabilities for all proto word in class and in post

Pandas Apply:   0%|          | 0/32261 [00:00<?, ?it/s]

saving to disk
saved as pred_1000
+-------+---------+----------+----------+----------------+
|       |    sc_1 |     sc_0 | Y_pred   |   nonresp_flag |
|-------+---------+----------+----------+----------------|
| 30275 | 144.301 |  7.91264 | True     |              0 |
|  3084 | 426.322 | 30.1737  | True     |              0 |
|  5772 |   0     |  0       | False    |              1 |
+-------+---------+----------+----------+----------------+

In [5]:
'../data/feather_files/re'

'../data/feather_files/re'

In [7]:
pred = proto.pred.copy()

In [10]:
pred['X'] = test['X']

In [12]:
pred['Y_pred'] = pred.Y_pred.swifter.apply(lambda d: 'Politicsl' if d else 'non-political')

Pandas Apply:   0%|          | 0/32261 [00:00<?, ?it/s]

In [14]:
pred.to_csv('../data/etc/canada_preds.csv')

In [16]:
pred.nonresp_flag.value_counts() / len(pred)

0    0.712067
1    0.287933
Name: nonresp_flag, dtype: float64

In [17]:
'ss'.upper()

'SS'

In [2]:
proto = pd.read_feather('../data/feather_files/old/proto_1000.feather')

In [5]:
proto.loc[0][proto.loc[0]!=0]

presidential    0.25
president       0.25
race            0.25
Name: 0, dtype: float64

In [8]:
protom = pd.read_feather('../data/feather_files/REDDIT_proto_CWP_k=1000.feather')
protot = pd.read_feather('../data/feather_files/old/proto_train_1000.feather')

In [22]:
proto

,tulsi,extremism,centrist,pollster,woodward,lobbyist,parnas,ouster,macron,politico,...,technician,vowel,pooped,sofa,laxative,flashlight,washroom,snore,sophomore,pubes
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
404535,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
404536,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
404537,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
404538,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
404539,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [36]:
tok = pd.read_feather('../data/feather_files/splits/train_1000.feather')

In [41]:
X = tok.X

countt = collections.Counter(' '.join(X).split())
R = X.str.split().map(collections.Counter)

R[0]

Counter({'biden': 1, 'drop': 1, 'presidential': 1, 'race': 1})

In [52]:
o = R.map(lambda d: pd.Series([d[max(d)],max(d)]))

In [53]:
pd.DataFrame(o)

                                                    X
0                   0       1
1    race
dtype: object
1                 0        1
1    spend
dtype: object
2             0          1
1    process
dtype: object
3             0          1
1    suicide
dtype: object
4                   0       1
1    vote
dtype: object
...                                               ...
404535              0       1
1    wake
dtype: object
404536  0             1
1    scientific
dtype: object
404537            0        1
1    woman
dtype: object
404538              0       1
1    test
dtype: object
404539          0         1
1    toward
dtype: object

[404540 rows x 1 columns]

In [7]:
import collections

In [1]:
from sklearn.preprocessing import StandardScaler

In [47]:
import numpy as np

In [2]:
from astropy.table import Table
import pandas as pd
from tabulate import tabulate
import itertools

In [43]:

tab1 = Table.read('../data/etc/l1.tex').to_pandas()
tab2 = Table.read('../data/etc/l2.tex').to_pandas()
tab3 = Table.read('../data/etc/l3.tex').to_pandas()
tab4 = Table.read('../data/etc/l4.tex').to_pandas()
tab5 = Table.read('../data/etc/l5.tex').to_pandas()
tab6 = Table.read('../data/etc/l6.tex').to_pandas()
tab7 = Table.read('../data/etc/l7.tex').to_pandas()
t1 = Table.read('../data/etc/t1.tex').to_pandas()
t2 = Table.read('../data/etc/t2.tex').to_pandas()

In [6]:
tab = pd.concat((tab1, tab2, tab3, tab4, tab5, tab6, tab7),axis=1)
tab.index = tab.iloc[:,0]
tab = tab.iloc[[0,2,6],].drop(columns=['col0']).transpose()
tab['k'] = [int(i) for i in list(itertools.chain.from_iterable(tab.index.str.findall(r'\d+').values))]
tab = tab.sort_values(by='k', axis=0).reset_index(drop=True)
tab = tab[['k', 'nonresponse', 'f1_score', 'f1_score_a']]
tab.nonresponse = [ f"{i}$\%$" for i in round(tab.nonresponse*100,2)]
tab.f1_score = tab.f1_score.round(3)
tab.f1_score_a = tab.f1_score_a.round(3)
tab
print(tabulate(tab, tablefmt='latex_raw', showindex=False,headers=tab.columns))

t1.columns = ['$wp$', '$P(y=0|wp)$', '$P(y=1|wp)$']
t1['$P(y=0|wp)$'] = round(t1['$P(y=0|wp)$'],2)
t1['$P(y=1|wp)$'] = round(t1['$P(y=1|wp)$'],2)
print(tabulate(t1, tablefmt='latex_raw', showindex=False,headers=t1.columns))

col0     k nonresponse  f1_score  f1_score_a
0      200    6.53$\%$     0.847       0.875
1      400    3.06$\%$     0.875       0.886
2      600    1.87$\%$     0.887       0.893
3      800    1.36$\%$     0.894       0.898
4     1000    1.04$\%$     0.898       0.902
5     1200    0.84$\%$     0.901       0.903
6     1400     0.7$\%$     0.903       0.904

In [50]:
t2 = t2.round(2)
print(tabulate(t2, tablefmt='latex_raw', showindex=False,headers=t2.columns))

\begin{tabular}{lrrrr}
\hline
 col0                  &   TrainM &   ValidM &   TrainR &   ValidR \\
\hline
 non-responses         &     0.01 &     0.01 &   nan    &   nan    \\
 Accuracy              &     0.87 &     0.87 &     0.92 &     0.92 \\
 f1 score              &     0.9  &     0.9  &     0.94 &     0.94 \\
 Precision             &     0.97 &     0.97 &     0.95 &     0.95 \\
 Recall                &     0.83 &     0.83 &     0.94 &     0.93 \\
 Training time (min)   &     0.09 &   nan    &    65    &   nan    \\
 Prediction time (min) &     4.89 &     2.55 &     1.01 &     0.14 \\
\hline
\end{tabular}

In [20]:
pd.concat((tab.sort_values(by='k', axis=0, ascending=False).iloc[:3,:],
           tab.sort_values(by=0, axis=0, ascending=False).iloc[:3,:]))

col0     k nonresponse  f1_score  f1_score_a  0
6     1400     0.7$\%$     0.903       0.904  6
5     1200    0.84$\%$     0.901       0.903  5
4     1000    1.04$\%$     0.898       0.902  4
6     1400     0.7$\%$     0.903       0.904  6
5     1200    0.84$\%$     0.901       0.903  5
4     1000    1.04$\%$     0.898       0.902  4

In [19]:
tab[0] = tab.index