In [53]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [42]:
import pandas as pd
import ujson
import json
pd.options.display.max_colwidth = 5000
import matplotlib
from nltk import sent_tokenize, word_tokenize
from nltk.corpus import stopwords
from nltk import WordNetLemmatizer
import random
import swifter
import collections

In [ ]:
data = pd.read_feather('../data/feather_files/data2019clean.feather')

# Step 2

In [76]:
#a
pol = data.query("tclass == 'political'").reset_index().text
nonpol = data.query("tclass == 'nonpolitical'").reset_index().text

In [77]:
tokens_p = word_tokenize(' '.join(pol))
tokens_np = word_tokenize(' '.join(nonpol))

In [84]:
print(f"Number of words are {len(tokens_p)} and {len(tokens_np)}")

counter_p = collections.Counter(tokens_p)
counter_np = collections.Counter(tokens_np)
print(f"Number of distinct words is {len(counter_p)} and {len(counter_np)}")
counter_p.most_common(3)
counter_np.most_common(3)

Number of words are 152212 and 2081118
Number of distinct words is 9386 and 31519

[('http', 8198), ('trump', 3934), ('house', 1528)]

[('get', 31903), ('like', 19674), ('say', 18876)]

In [102]:
worddict = pd.DataFrame({'word':counter_p.keys(),
                        'pol_occ': counter_p.values()})
worddict['nonpol_occ'] = worddict.word.swifter.apply(lambda x: counter_np.get(x,0))
temp = pd.DataFrame({'word':counter_np.keys(),
                'nonpol_occ': counter_np.values()})
temp['pol_occ'] = temp.word.swifter.apply(lambda x: counter_p.get(x,0))
worddict = pd.concat((worddict,temp)).drop_duplicates('word')\
.sort_values(by='pol_occ',ascending=False)
print(f"Number of distinct words is {len(worddict)}")
worddict = worddict.query('pol_occ >= 10 or nonpol_occ >= 10').reset_index(drop=True)
print(f"After removing low occurancies, we have {len(worddict)} wordds")

Pandas Apply:   0%|          | 0/9386 [00:00<?, ?it/s]

Pandas Apply:   0%|          | 0/31519 [00:00<?, ?it/s]

Number of distinct words is 33600
After removing low occurancies, we have 8957 wordds

In [103]:
worddict['ssum'] = worddict.pol_occ + worddict.nonpol_occ
worddict['sc_n'] = worddict.pol_occ / worddict.ssum
worddict['sc_np'] = worddict.nonpol_occ / worddict.ssum

In [104]:
worddict

             word  pol_occ  nonpol_occ  ssum      sc_n     sc_np
0            http     8198        1584  9782  0.838070  0.161930
1           trump     3934          27  3961  0.993184  0.006816
2           house     1528        3585  5113  0.298846  0.701154
3             amp     1147        5537  6684  0.171604  0.828396
4     impeachment     1129           0  1129  1.000000  0.000000
...           ...      ...         ...   ...       ...       ...
8952        chess        0          34    34  0.000000  1.000000
8953      arrival        0          42    42  0.000000  1.000000
8954     mosquito        0          25    25  0.000000  1.000000
8955       clench        0          42    42  0.000000  1.000000
8956         hose        0          55    55  0.000000  1.000000

[8957 rows x 6 columns]

In [94]:
worddict

              word  pol_occ  nonpol_occ   sum  ssum      sc_n     sc_np
352           http     8198        1584  9782  9782  0.838070  0.161930
358          trump     3934          27  3961  3961  0.993184  0.006816
157          house     1528        3585  5113  5113  0.298846  0.701154
1227           amp     1147        5537  6684  6684  0.171604  0.828396
113    impeachment     1129           0  1129  1129  1.000000  0.000000
...            ...      ...         ...   ...   ...       ...       ...
13942       toyota        0           9     9     9  0.000000  1.000000
13941      eclipse        0           3     3     3  0.000000  1.000000
13940      muscley        0           1     1     1  0.000000  1.000000
13939       yorkie        0           2     2     2  0.000000  1.000000
31517        tryst        0           1     1     1  0.000000  1.000000

[33600 rows x 7 columns]